
<h4>Add New Parent</h4>
<form role="form" [formGroup]="createParentForm">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <p-dropdown class="form-control" [options]="genders" id="gender" formControlName="gender"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="userId">User Id</label>
        <input type="text" id="userId" formControlName="userId" class="form-control" placeholder="User Id">
      </div>      
      <div class="form-group">
        <label for="userTypes">User Type</label>
        <p-dropdown class="form-control" id="userTypes" [options]="userTypes" formControlName="userType"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="birthDate">D.O.B</label>
        <p-calendar class="form-control" formControlName="birthDate" dateFormat="dd.mm.yy" id="birthDate" [showIcon]="true"></p-calendar>
      </div>
      
    </div>
    <div class="col">
      <fieldset formGroupName="address">
        <div class="form-group">
          <label for="address1">Address1</label>
          <input type="text" class="form-control" id="address1" placeholder="Address Line1" formControlName="address1">
        </div>
        <div class="form-group">
          <label for="address2">Address2</label>
          <input type="text" class="form-control" id="address2" placeholder="Address Line2" formControlName="address2">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
        </div>
        <div class="form-group">
          <label for="pin">Pin</label>
          <input type="text" class="form-control" id="pin" placeholder="Pin" formControlName="pin">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
        </div>
      </fieldset>

    </div>
  </div>

  <button class="btn btn-sm btn-success" (click)="saveParentData(createParentForm.value)">Save</button>
  
</form>