
<div class="m-a">
  <a class="btn btn-sm btn-primary" [routerLink] = "['/parents/parentsList']">
    Show Parent Details
  </a>
  <a class="btn btn-sm btn-primary" [routerLink]="['/parents/parentsCreate']">
    Create Parent
  </a>
  <div class="m-a">
    <router-outlet></router-outlet>
  </div>
  </div>

