<button class="btn btn-sm btn-primary" [routerLink]="['/students/studentsList']">
    <span>Show Students List</span>
</button>
<button class="btn btn-sm btn-primary" [routerLink]="['/students/studentsCreate']">
    <span>Create Student</span>
</button>
<router-outlet></router-outlet>

