<div class="m-a">
  <h3>Student Details</h3>
  <form>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">         
          <label for="userId">User Id</label>
          <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="studentData.userId" disabled>
        </div>
        <div class="form-group">         
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="studentData.firstName" disabled>
        </div>
        <div class="form-group">         
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="studentData.lastName" disabled>
        </div>
        <div class="form-group">         
          <label for="userType">User Type</label>
          <input type="text" class="form-control" id="userType" name="userType" [(ngModel)]="studentData.userType" disabled>
        </div>
        <div class="form-group">         
          <label for="gender">Gender</label>
          <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="studentData.gender" disabled>
        </div>        
      </div>
      <div class="col-sm-4">        
        <div class="form-group">
          <label for="grade">Grade</label>
          <input type="text" class="form-control" id="grade" name="grade" [(ngModel)]="studentData.grade" disabled>
        </div>
        <div class="form-group">
          <label for="birthDate">D.O.B</label>
          <input type="text" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="studentData.birthDate" disabled>
        </div>
        <div class="form-group">
          <label for="address1">Address1</label>
          <input type="text" class="form-control" id="address1" name="address1" [(ngModel)]="studentData.address.address1" disabled>
        </div>
        <div class="form-group">
          <label for="address2">Address2</label>
          <input type="text" class="form-control" id="address2" name="address2" [(ngModel)]="studentData.address.address2" disabled>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city" [(ngModel)]="studentData.address.city" disabled>
        </div>        
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" name="state" [(ngModel)]="studentData.address.state" disabled>
        </div>
        <div class="form-group">
          <label for="pin">Pin</label>
          <input type="text" class="form-control" id="pin" name="pin" [(ngModel)]="studentData.address.pin" disabled>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" name="country" [(ngModel)]="studentData.address.country" disabled>
        </div>        
      </div>

    </div>
    <button class="btn btn-sm btn-primary" (click)="backPage()">Back</button>
    
  </form>
</div>
