<div>
    <button [routerLink]="['/grades/assign-subject']" class="btn btn-sm btn-primary">Assign Subjects to the Grade</button>
    <button [routerLink]="['/grades/grade-create']" class="btn btn-sm btn-primary">Create Grade</button>
</div>
<router-outlet></router-outlet>
  