<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="javascript:void(0)">SIS</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    padding: 0;background: transparent;border: 0;color: #a2a29b;">
              Manage Users
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-item"><a [routerLink]="['/students']">Students</a></li>
              <li class="dropdown-item"><a [routerLink]="['/parents']">Parents</a></li>
              <li class="dropdown-submenu">
                <a  class="dropdown-item" tabindex="-1" href="javascript:void(0)">Staff</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a [routerLink]="['/staffs/teachingStaff']">Teaching Staff</a></li>
                  <li class="dropdown-item"><a [routerLink]="['/staffs/nonTeachingStaff']">Non-Teaching Staff</a></li>
                </ul>
              </li>
              <li class="dropdown-item"><a [routerLink]="['/subjects']">Subjects</a></li>
              <li class="dropdown-item"><a [routerLink]="['/grades']">Grades</a></li>
              <li class="dropdown-item"><a [routerLink]="['/exams']">Exams</a></li>
              <li class="dropdown-item"><a [routerLink]="['/test']">Test</a></li>
            </ul>
        </div>
        </a>
        
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    padding: 0;background: transparent;border: 0;color: #a2a29b;">
              Dropdown
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item"><a href="#">Some action</a></li>
                <li class="dropdown-item"><a href="#">Some other action</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-submenu">
                  <a  class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" href="#">Even More..</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item"><a href="#">3rd level</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                                <li class="dropdown-item"><a href="#">4th level</a></li>
                            </ul>
                          </li>
                            <li class="dropdown-item"><a href="#">3rd level</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                    <li class="dropdown-item"><a href="#">Second level</a></li>
                  </ul>
                </li>
              </ul>
        </div>
        </a>
        
      </li>-->
    </ul>
  </div>
</nav>

