/*common style*/
.p-l-0{
    padding-left: 0 !important;
}
.dispaly-b{
    display: block !important;
}
.dispaly-ib{
    display: inline-block !important;
}
.float-l{
    float: left !important;
}
/*/common style*/

body{
    background: #fff;
}

.btn{
    cursor: pointer;
}
ul li{
    list-style-type: none;
}

/*navbar*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*/navbar*/

/*main content*/
body .ui-dropdown, .ui-calendar{
    width: 100% !important;
}
.search-div ul, .search-div ul li{
    display: inline-block;
    padding-left: 5px;
}
.search-div ul li{
    cursor: pointer;
}
/*/main content*/