<div class="search-div">
  <div class="row">
    <div class="col-sm-3">
      <input type="text" class="form-control form-control-sm" (keyup)="onSearchTyped($event.target.value)" placeholder="search" id="search">
    </div>
    <div class="col-sm-1 p-l-0">
      <ul>
        <li><span (click)="onNameAscending()"><i class="fa fa-sort-alpha-asc" [ngClass]="{'text-danger': isAscendingOrder}"></i></span></li>
        <li><span (click)="onNameDescending()"><i class="fa fa-sort-alpha-desc"[ngClass]="{'text-danger': !isAscendingOrder}"></i></span></li>
      </ul>
    </div>
  </div>
</div>