<h4 class="m-a">Add Student Details</h4>

<form role="form" [formGroup]="createStudentForm">
  <div class="row m-a">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First Name">
          <span class="text-danger"
              *ngIf="createStudentForm.controls['firstName'].hasError('required') && createStudentForm.controls['firstName'].touched">
              Please enter First Name
          </span>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="userId">User Id</label>
          <input type="text" class="form-control" formControlName="userId" id="userId" placeholder="userId">
        </div>
        <div class="form-group">
          <label for="userTypes">User Type</label>
          <p-dropdown id="userTypes" [options]="userTypes" formControlName="userType"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="genders">Gender</label>
          <p-dropdown id="genders" [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        
        
        


      </div>
      
      <div class="col-sm-4">
        <div class="form-group">
          <label for="grades">Grade</label>
          <p-dropdown id="grades" [options]="grades" formControlName="grade"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="birthDate">D.O.B</label>
          <p-calendar formControlName="birthDate" dateFormat="dd.mm.yy" id="birthDate" [showIcon]="true"></p-calendar>
        </div>
        <fieldset formGroupName="address">
          <div class="form-group">
            <label for="address1">Address1</label>
            <input type="text" class="form-control" formControlName="address1" id="address1" placeholder="Address1">
          </div>
          <div class="form-group">
            <label for="address2">Address2</label>
            <input type="text" class="form-control" formControlName="address2" id="address2" placeholder="Address2">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" formControlName="city" id="city" placeholder="City">
          </div>
        </fieldset>
      </div>
      <div class="col-sm-4">
        <fieldset formGroupName="address">
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" formControlName="state" id="state" placeholder="State">
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <input type="text" class="form-control" formControlName="pin" id="pin" placeholder="Pin">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" formControlName="country" id="country" placeholder="Country">
          </div>
        </fieldset>
        <div class="form-group">
          <label for="image">Upload Image</label>
          <p-fileUpload url="data:image/PNG;base64,{{image}}" formControlName="image" ngDefaultControl></p-fileUpload>
        </div>
      </div>      
  </div>
  <button class="btn btn-sm btn-success" (click)="saveStudentData(createStudentForm.value)">          
      Save
  </button>
</form>
