<div class="m-a">
  <form role="form" [formGroup]="createTeachingStaffForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="userType">User Type</label>
          <p-dropdown id="userType" [options]="userType" formControlName="userType"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="userId">User Id</label>
          <input type="text" class="form-control" id="userId" formControlName="userId" placeholder="User Id">
        </div>
        <div class="form-group">
          <label for="genders"></label>
          <p-dropdown id="genders" [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="birthDate">D.O.B</label>
          <p-calendar  id="birthDate" formControlName="birthDate" [showIcon]="true"></p-calendar >
        </div>
      </div>
      <div class="col-sm-6">
        <fieldset formGroupName="address">
          <div class="form-group">
            <label for="address1">Address1</label>
            <input type="text" class="form-control" id="address1" formControlName="address1" placeholder="Address1">
          </div>
          <div class="form-group">
            <label for="address2">Address2</label>
            <input type="text" class="form-control" id="address2" formControlName="address2" placeholder="Address2">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city" placeholder="city">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" formControlName="state" placeholder="state">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" formControlName="country" placeholder="country">
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <input type="text" class="form-control" id="pin" formControlName="pin" placeholder="pin">
          </div>
        </fieldset>
          
      </div>
    </div>  
    <button class="btn btn-sm btn-success" (click)="saveTeachingStaff(createTeachingStaffForm.value)">Save</button>
  </form>
</div>
