<div class="col-md-3">  
  <p-dropdown [options]="exam" [(ngModel)]="selectedExam" [filter]="true"></p-dropdown>
  <p>Selected Exam: {{selectedExam ? selectedExam.code : 'none'}}</p>
</div>

<button (click)="addExam()">Add Exam</button>

<div id="exam-cont" *ngIf="selectedExam">
</div>





  
