<div class="m-a">
  <h3>Teaching Staff Detail</h3>
  <div *ngIf="teachingStaffDetailData">
      <form> 
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" disabled name="firstName" [(ngModel)]="teachingStaffDetailData.firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" disabled name="lastName" [(ngModel)]="teachingStaffDetailData.lastName">
            </div>
            <div class="form-group">
              <label for="userId">User Id</label>
              <input type="text" class="form-control" id="userId" disabled name="userId" [(ngModel)]="teachingStaffDetailData.userId">
            </div>
            <div class="form-group">
              <label for="userType">User Type</label>
              <input type="text" class="form-control" id="userType" disabled name="userType" [(ngModel)]="teachingStaffDetailData.userType">
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <input type="text" class="form-control" id="gender" disabled name="gender" [(ngModel)]="teachingStaffDetailData.gender">
            </div>
            <div class="form-group">
              <label for="birthDate">D.O.B</label>
              <input type="text" class="form-control" id="birthDate" disabled name="birthDate" [(ngModel)]="teachingStaffDetailData.birthDate">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address1">Address1</label>
              <input type="text" class="form-control" id="address1" disabled name="address1" [(ngModel)]="teachingStaffDetailData.address.address1">
            </div>
            <div class="form-group">
              <label for="address2">Address2</label>
              <input type="text" class="form-control" id="address2" disabled name="address2" [(ngModel)]="teachingStaffDetailData.address.address2">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" disabled name="city" [(ngModel)]="teachingStaffDetailData.address.city">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" disabled name="state" [(ngModel)]="teachingStaffDetailData.address.state">
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control" id="country" disabled name="country" [(ngModel)]="teachingStaffDetailData.address.country">
            </div>
            <div class="form-group">
              <label for="pin">Pin</label>
              <input type="text" class="form-control" id="pin" disabled name="pin" [(ngModel)]="teachingStaffDetailData.address.pin">
            </div>
          </div>
        </div>

        <button class="btn btn-sm btn-primary" (click)="backPage()">Back</button>
      </form>
  </div>
</div>