<a [routerLink]="['teachingStaffList']" class="btn btn-primary btn-sm">Teaching Staff List</a>
<a [routerLink]="['teachingStaffCreate']" class="btn btn-primary btn-sm">Create Teaching Staff</a>
<router-outlet></router-outlet>
