<div class="m-a">
  <form role="form" [formGroup]="createNonTeachingStaffForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="userId">User Id</label>
          <input type="text" id="userId" class="form-control" formControlName="userId" placeholder="User Id">
        </div>
        <div class="form-group">
          <label for="userType">User Type</label>
          <p-dropdown [options]="userType" id="userType" formControlName="userType"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="genders">Gender</label>
          <p-dropdown [options]="genders" id="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="birthDate">D.O.B</label>
          <p-calendar id="birthDate" formControlName="birthDate" [showIcon]="true"></p-calendar>
        </div>
      </div>
      <div class="col-sm-6">
        <fieldset formGroupName="address">
          <div class="form-group">
            <label for="address1">Address1</label>
            <input type="text" id="address1" class="form-control" formControlName="address1" placeholder="Address1">
          </div>
          <div class="form-group">
            <label for="address2">Address2</label>
            <input type="text" id="address2" class="form-control" formControlName="address2" placeholder="Address2">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" class="form-control" formControlName="city" placeholder="city">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" id="state" class="form-control" formControlName="state" placeholder="state">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" class="form-control" formControlName="country" placeholder="country">
          </div>
          <div class="form-group">
            <label for="pin">Pin</label>
            <input type="text" id="pin" class="form-control" formControlName="pin" placeholder="pin">
          </div>
        </fieldset>
      </div>
    </div>
    <button (click)="createNonTeachingStaffData(createNonTeachingStaffForm.value)" class="btn btn-sm btn-success">Save</button>
  </form>
</div>