<div class="p-a">
  <p-dataTable [value]="grades" [(selection)]="selectedGrade" (onRowSelect)="onRowSelect($event)" dataKey="code">
      <p-header>Grade Selection</p-header>
      <p-footer><div style="text-align: left">Selected Grade: {{selectedGrade ? selectedGrade.code + ' - ' + selectedGrade.description : 'none'}}</div></p-footer>
      <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
      <p-column field="code" header="Code"></p-column>
      <p-column field="description" header="Description"></p-column>
  </p-dataTable>
</div>

<div class="p-a">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <p-pickList 
                [source]="sourceSubjects" 
                [target]="selectedSubjects" 
                [showSourceControls]="false" 
                [showTargetControls]="false"
                sourceHeader="Available" 
                targetHeader="Selected" 
                [responsive]="true" 
                [sourceStyle]="{'height':'300px'}" 
                [targetStyle]="{'height':'300px'}">
                <template let-subject pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{subject.code}}</div>
                    </div>
                </template>
            </p-pickList>
            <div>
                <button class="btn btn-sm btn-success" (click)="saveSelectedSubjects()">Save</button>
                <button class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </div>
    </div>
  

</div>

