<h4 class="m-a">List of Non Teaching Staff</h4>
<div>
  <app-search-bar
    (searchChangeEmitter) = "setSearchName($event)"
    (nameAscending) = "setSorting('asc')"
    (nameDescending) = "setSorting('desc')"
  ></app-search-bar>
</div>
<div class="card float-l m-l" style="width: 15rem;align-items: center;" *ngFor="let nonTeachingStaff of nonTeachingStaffData | search: searchValue | sortBy: sortValue">
  <img class="card-img-top" alt="Card image cap" src="data:image/JPEG;base64,{{nonTeachingStaff.image}}" style="height:100px;width:100px;"/>
  <div class="card-block">
    <h4 class="card-title">{{nonTeachingStaff.userId}}</h4>
    <a class="btn btn-sm btn-primary" (click)="getUserData(nonTeachingStaff.userId)">View Details</a>
  </div>
</div>



