<a [routerLink]="['nonTeachingStaffList']" class="btn btn-sm btn-primary">Non-Teaching Staff List</a>
<a [routerLink]="['nonTeachingStaffCreate']" class="btn btn-sm btn-primary">Create Non-Teaching Staff</a>
<router-outlet></router-outlet>