<div class="p-a">
  <p-dataTable [value]="grades" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
      <p-header>Grade Management</p-header>
      <p-column field="code" header="Code" [sortable]="true"></p-column>
      <p-column field="description" header="Description" [sortable]="true"></p-column>
      <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
  </p-dataTable>

  <p-dialog header="Grade Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="grade">
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="code">Code</label></div>
              <div class="ui-grid-col-8"><input pInputText id="code" [(ngModel)]="grade.code" /></div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="description">Description</label></div>
              <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="grade.description" /></div>
          </div>
      </div>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
              <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
          </div>
      </p-footer>
  </p-dialog>
</div>