
<h4 class="m-a">List of Students</h4>
<div class="form-group">
  <app-search-bar
    (searchChangeEmitter) = "setSearchName($event)"
    (nameAscending) = "setSorting('asc')"
    (nameDescending) = "setSorting('desc')"
  ></app-search-bar>
</div>  
<div><span>{{user1}}</span></div>
<div class="card float-l m-l" style="width: 15rem;align-items: center;" *ngFor="let student of students | search: searchValue | sortBy: sortValue">
  <img class="card-img-top" alt="Card image cap" src="data:image/JPEG;base64,{{student.image}}" style="height:100px;width:100px;"/>
  <div class="card-block">
    <h4 class="card-title">{{student.userId}}</h4>
    <a class="btn btn-sm btn-primary" (click)="viewStudentDetail(student.userId)" >View Details</a>
    <a class="btn btn-sm btn-primary" (click)="addMarks(student.userId)">Add Marks</a>
  </div>
</div>



