/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*common css*/
/*
Spacing
*/
.m-a {
  margin: 1rem; }

.m-t {
  margin-top: 1rem; }

.m-r {
  margin-right: 1rem; }

.m-b {
  margin-bottom: 1rem; }

.m-l {
  margin-left: 1rem; }

.m-x {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-lg {
  margin: 3rem; }

.m-t-lg {
  margin-top: 3rem; }

.m-r-lg {
  margin-right: 3rem; }

.m-b-lg {
  margin-bottom: 3rem; }

.m-l-lg {
  margin-left: 3rem; }

.m-x-lg {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-lg {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-md {
  margin: 1.5rem; }

.m-t-md {
  margin-top: 1.5rem; }

.m-r-md {
  margin-right: 1.5rem; }

.m-b-md {
  margin-bottom: 1.5rem; }

.m-l-md {
  margin-left: 1.5rem; }

.m-x-md {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-y-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-a-sm {
  margin: 0.5rem; }

.m-t-sm {
  margin-top: 0.5rem; }

.m-r-sm {
  margin-right: 0.5rem; }

.m-b-sm {
  margin-bottom: 0.5rem; }

.m-l-sm {
  margin-left: 0.5rem; }

.m-x-sm {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-y-sm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-a-xs {
  margin: 0.25rem; }

.m-t-xs {
  margin-top: 0.25rem; }

.m-r-xs {
  margin-right: 0.25rem; }

.m-b-xs {
  margin-bottom: 0.25rem; }

.m-l-xs {
  margin-left: 0.25rem; }

.m-x-xs {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-y-xs {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.p-a {
  padding: 1rem; }

.p-t {
  padding-top: 1rem; }

.p-r {
  padding-right: 1rem; }

.p-b {
  padding-bottom: 1rem; }

.p-l {
  padding-left: 1rem; }

.p-x {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-lg {
  padding: 3rem; }

.p-t-lg {
  padding-top: 3rem; }

.p-r-lg {
  padding-right: 3rem; }

.p-b-lg {
  padding-bottom: 3rem; }

.p-l-lg {
  padding-left: 3rem; }

.p-x-lg {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-lg {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-md {
  padding: 1.5rem; }

.p-t-md {
  padding-top: 1.5rem; }

.p-r-md {
  padding-right: 1.5rem; }

.p-b-md {
  padding-bottom: 1.5rem; }

.p-l-md {
  padding-left: 1.5rem; }

.p-x-md {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-y-md {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-a-sm {
  padding: 0.5rem; }

.p-t-sm {
  padding-top: 0.5rem; }

.p-r-sm {
  padding-right: 0.5rem; }

.p-b-sm {
  padding-bottom: 0.5rem; }

.p-l-sm {
  padding-left: 0.5rem; }

.p-x-sm {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-y-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-a-xs {
  padding: 0.25rem; }

.p-t-xs {
  padding-top: 0.25rem; }

.p-r-xs {
  padding-right: 0.25rem; }

.p-b-xs {
  padding-bottom: 0.25rem; }

.p-l-xs {
  padding-left: 0.25rem; }

.p-x-xs {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-y-xs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.padding {
  padding: 1.5rem 1.5rem; }

.margin {
  margin-bottom: 1.5rem; }

.padding-out {
  margin: -1.5rem -1.5rem; }

@media (max-width: 991px) {
  .padding {
    padding: 1.5rem 1rem; }
  .padding-out {
    margin: -1.5rem -1rem; }
  .margin {
    margin-bottom: 1rem; }
  .box,
  .box-color {
    margin-bottom: 1rem; }
  .no-padding-md {
    padding: 0 !important; }
  .no-margin-md {
    margin: 0 !important; } }

@media (max-width: 767px) {
  .padding {
    padding: 1.5rem 0.5rem; }
  .padding-out {
    margin: -1.5rem -0.5rem; }
  .margin {
    margin-bottom: 0.5rem; }
  .box,
  .box-color {
    margin-bottom: 0.5rem; }
  .no-padding-sm {
    padding: 0 !important; }
  .no-margin-sm {
    margin: 0 !important; } }

@media (max-width: 543px) {
  .no-padding-xs {
    padding: 0 !important; }
  .no-margin-xs {
    margin: 0 !important; } }

/*
Radius
*/
.no-radius {
  border-radius: 0 !important; }

.no-r-t {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.no-r-r {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.no-r-b {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.no-r-l {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.r {
  border-radius: 3px; }

.r-t {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.r-r {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.r-b {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.r-l {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.r-2x {
  border-radius: 6px; }

.r-3x {
  border-radius: 9px; }

/*
Scrollable
*/
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .scrollable.hover,
  .scrollable.hover > .row-inner {
    overflow-y: hidden; }
  .scrollable.hover > * {
    margin-top: -1px; }
  .scrollable.hover:hover, .scrollable.hover:focus, .scrollable.hover:active {
    overflow: visible;
    overflow-y: auto; }
    .scrollable.hover:hover > .row-inner, .scrollable.hover:focus > .row-inner, .scrollable.hover:active > .row-inner {
      overflow-y: auto; }
  .smart .scrollable,
  .smart .scrollable > .row-inner {
    overflow-y: auto !important; }

.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }

.scroll-y {
  overflow-y: auto; }

.scroll-x {
  overflow-x: auto; }

.no-scroll {
  overflow: hidden; }

/*
Text
*/
a.primary:hover {
  background-color: #41b9b9; }

a.text-primary:hover {
  color: #41b9b9; }

.text-primary,
.text-primary-hover a:hover,
.text-primary-hover .active > a {
  color: #4BC0C0 !important; }

a.warn:hover {
  background-color: #a76ed9; }

a.text-warn:hover {
  color: #a76ed9; }

.text-warn,
.text-warn-hover a:hover,
.text-warn-hover .active > a {
  color: #b07cdd !important; }

a.accent:hover {
  background-color: #00c3ed; }

a.text-accent:hover {
  color: #00c3ed; }

.text-accent,
.text-accent-hover a:hover,
.text-accent-hover .active > a {
  color: #00d2ff !important; }

a.success:hover {
  background-color: #1fa765; }

a.text-success:hover {
  color: #1fa765; }

.text-success,
.text-success-hover a:hover,
.text-success-hover .active > a {
  color: #22b66e !important; }

a.info:hover {
  background-color: #108ef2; }

a.text-info:hover {
  color: #108ef2; }

.text-info,
.text-info-hover a:hover,
.text-info-hover .active > a {
  color: #2196f3 !important; }

a.warning:hover {
  background-color: #e7b60c; }

a.text-warning:hover {
  color: #e7b60c; }

.text-warning,
.text-warning-hover a:hover,
.text-warning-hover .active > a {
  color: #f3c111 !important; }

a.danger:hover {
  background-color: #e61033; }

a.text-danger:hover {
  color: #e61033; }

.text-danger,
.text-danger-hover a:hover,
.text-danger-hover .active > a {
  color: #ef193c !important; }

a.dark:hover {
  background-color: #202c3d; }

a.text-dark:hover {
  color: #202c3d; }

.text-dark,
.text-dark-hover a:hover,
.text-dark-hover .active > a {
  color: #263449 !important; }

a.blue:hover {
  background-color: #108ef2; }

a.text-blue:hover {
  color: #108ef2; }

.text-blue,
.text-blue-hover a:hover,
.text-blue-hover .active > a {
  color: #2196f3 !important; }

.text-white {
  color: white !important; }

.text-white-lt {
  color: rgba(255, 255, 255, 0.54); }

.text-white-dk {
  color: rgba(255, 255, 255, 0.87); }

.text-black {
  color: black; }

.text-black-lt {
  color: rgba(0, 0, 0, 0.54); }

.text-black-dk {
  color: rgba(0, 0, 0, 0.87); }

.text-muted {
  color: inherit !important;
  opacity: 0.6; }

a.text-muted:hover, a.text-muted:focus {
  opacity: 1; }

.text-color {
  color: rgba(0, 0, 0, 0.87); }

._100 {
  font-weight: 100; }

._200 {
  font-weight: 200; }

._300 {
  font-weight: 300; }

._400 {
  font-weight: 400; }

._500 {
  font-weight: 500; }

._600 {
  font-weight: 600; }

._700 {
  font-weight: 700; }

._800 {
  font-weight: 800; }

.text {
  font-size: 1rem; }

.text-xxs {
  font-size: 0.7rem; }

.text-xs {
  font-size: 0.7rem; }

.text-sm {
  font-size: 0.8rem; }

.text-md {
  font-size: 1.125rem; }

.text-lg {
  font-size: 1.5rem; }

.text-2x {
  font-size: 2em !important; }

.text-3x {
  font-size: 3em !important; }

.text-4x {
  font-size: 4em !important; }

.l-h-0 {
  line-height: 0; }

.l-h {
  line-height: 1.5; }

.l-h-1x {
  line-height: 1; }

.l-h-2x {
  line-height: 2em; }

.l-s-1x {
  letter-spacing: 1px; }

.l-s-2x {
  letter-spacing: 2px; }

.l-s-3x {
  letter-spacing: 3px; }

.l-s-4x {
  letter-spacing: 4px; }

.l-s-n-1x {
  letter-spacing: -1px; }

.l-s-n-2x {
  letter-spacing: -2px; }

.l-s-n-3x {
  letter-spacing: -3px; }

.l-s-n-4x {
  letter-spacing: -4px; }

.h-1x {
  height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.h-2x {
  height: 2.625rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.h-3x {
  height: 3.9375rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.h-4x {
  height: 5.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.text-u-c {
  text-transform: uppercase; }

.text-l-t {
  text-decoration: line-through; }

.text-u-l {
  text-decoration: underline; }

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.text-shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

@media (max-width: 767px) {
  .display-1 {
    font-size: 4.5rem; }
  .display-2 {
    font-size: 4rem; }
  .display-3 {
    font-size: 3rem; }
  .display-4 {
    font-size: 2rem; } }

/*
Size
*/
.w-8 {
  width: 8px;
  height: 8px;
  display: inline-block; }

.w-16 {
  width: 16px;
  height: 16px;
  display: inline-block; }

.w-20 {
  width: 20px;
  height: 20px;
  display: inline-block; }

.w-24 {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center; }

.w-32 {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center; }

.w-40 {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center; }

.w-48 {
  width: 48px;
  height: 48px;
  display: inline-block;
  text-align: center; }

.w-56 {
  width: 56px;
  height: 56px;
  display: inline-block;
  text-align: center; }

.w-64 {
  width: 64px; }

.w-80 {
  width: 80px; }

.w-96 {
  width: 96px; }

.w-128 {
  width: 128px; }

.w-xxs {
  width: 60px; }

.w-xs {
  width: 90px; }

.w-sm {
  width: 120px; }

.w {
  width: 200px; }

.w-md {
  width: 240px; }

.w-lg {
  width: 280px; }

.w-xl {
  width: 320px; }

.w-xxl {
  width: 344px; }

.w-full {
  width: 100%; }

.w-auto {
  width: auto; }

.h-auto {
  height: auto; }

.h-full {
  height: 100%; }

.h-v {
  height: 100vh; }

.h-v-5 {
  height: 50vh; }

@media (max-width: 1199px) {
  .w-auto-lg {
    width: auto; }
  .w-full-lg {
    width: 100%; } }

@media (max-width: 991px) {
  .w-auto-md {
    width: auto; }
  .w-full-md {
    width: 100%; } }

@media (max-width: 767px) {
  .w-auto-sm {
    width: auto; }
  .w-full-sm {
    width: 100%; } }

@media (max-width: 543px) {
  .w-auto-xs {
    width: auto; }
  .w-full-xs {
    width: 100%; } }

/*---------------------------
4. Material Design style
---------------------------*/
.md-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 6px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.md-flat {
  background: transparent; }

.md-btn.md-flat:not([disabled]):hover,
.md-btn.md-flat:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2); }

.md-btn-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 2px; }

.md-btn[disabled],
.md-btn.md-raised[disabled],
.md-btn.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
  cursor: not-allowed; }

.md-fab {
  line-height: 44px; }

.md-fab-offset {
  margin-top: -20px;
  margin-bottom: -20px; }

.md-btn:focus {
  outline: none; }

.md-btn:hover {
  text-decoration: none; }

.md-btn.md-cornered {
  border-radius: 0; }

.md-btn.md-icon {
  padding: 0;
  background: none; }

.md-btn.md-raised {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.md-btn.md-fab {
  z-index: 20;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: 0.2s linear;
  transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow; }

.md-btn.md-raised:not([disabled]),
.md-btn.md-fab {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.md-btn.md-raised:not([disabled]):focus,
.md-btn.md-raised:not([disabled]):hover,
.md-btn.md-fab:not([disabled]):focus,
.md-btn.md-fab:not([disabled]):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0); }

.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: absolute; }

.md-fab-bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
  position: absolute; }

.md-fab-top-right {
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
  position: absolute; }

.md-fab-top-left {
  top: 20px;
  right: auto;
  bottom: auto;
  left: 20px;
  position: absolute; }

.md-btn.md-fab.md-mini {
  width: 40px;
  height: 40px;
  line-height: 28px; }

.red {
  background-color: #f44336;
  color: rgba(255, 255, 255, 0.87); }

.red-50 {
  background-color: #ffebee;
  color: rgba(0, 0, 0, 0.87); }

.red-100 {
  background-color: #ffcdd2;
  color: rgba(0, 0, 0, 0.87); }

.red-200 {
  background-color: #ef9a9a;
  color: rgba(0, 0, 0, 0.87); }

.red-300 {
  background-color: #e57373;
  color: rgba(0, 0, 0, 0.87); }

.red-400 {
  background-color: #ef5350;
  color: rgba(0, 0, 0, 0.87); }

.red-500 {
  background-color: #f44336;
  color: rgba(255, 255, 255, 0.87); }

.red-600 {
  background-color: #e53935;
  color: rgba(255, 255, 255, 0.87); }

.red-700 {
  background-color: #d32f2f;
  color: rgba(255, 255, 255, 0.87); }

.red-800 {
  background-color: #c62828;
  color: rgba(255, 255, 255, 0.87); }

.red-900 {
  background-color: #b71c1c;
  color: rgba(255, 255, 255, 0.87); }

.red-A100 {
  background-color: #ff8a80;
  color: rgba(0, 0, 0, 0.87); }

.red-A200 {
  background-color: #ff5252;
  color: rgba(255, 255, 255, 0.87); }

.red-A400 {
  background-color: #ff1744;
  color: rgba(255, 255, 255, 0.87); }

.red-A700 {
  background-color: #d50000;
  color: rgba(255, 255, 255, 0.87); }

.pink {
  background-color: #e91e63;
  color: rgba(255, 255, 255, 0.87); }

.pink-50 {
  background-color: #fce4ec;
  color: rgba(0, 0, 0, 0.87); }

.pink-100 {
  background-color: #f8bbd0;
  color: rgba(0, 0, 0, 0.87); }

.pink-200 {
  background-color: #f48fb1;
  color: rgba(0, 0, 0, 0.87); }

.pink-300 {
  background-color: #f06292;
  color: rgba(0, 0, 0, 0.87); }

.pink-400 {
  background-color: #ec407a;
  color: rgba(0, 0, 0, 0.87); }

.pink-500 {
  background-color: #e91e63;
  color: rgba(255, 255, 255, 0.87); }

.pink-600 {
  background-color: #d81b60;
  color: rgba(255, 255, 255, 0.87); }

.pink-700 {
  background-color: #c2185b;
  color: rgba(255, 255, 255, 0.87); }

.pink-800 {
  background-color: #ad1457;
  color: rgba(255, 255, 255, 0.87); }

.pink-900 {
  background-color: #880e4f;
  color: rgba(255, 255, 255, 0.87); }

.pink-A100 {
  background-color: #ff80ab;
  color: rgba(0, 0, 0, 0.87); }

.pink-A200 {
  background-color: #ff4081;
  color: rgba(255, 255, 255, 0.87); }

.pink-A400 {
  background-color: #f50057;
  color: rgba(255, 255, 255, 0.87); }

.pink-A700 {
  background-color: #c51162;
  color: rgba(255, 255, 255, 0.87); }

.purple {
  background-color: #9c27b0;
  color: rgba(255, 255, 255, 0.87); }

.purple-50 {
  background-color: #f3e5f5;
  color: rgba(0, 0, 0, 0.87); }

.purple-100 {
  background-color: #e1bee7;
  color: rgba(0, 0, 0, 0.87); }

.purple-200 {
  background-color: #ce93d8;
  color: rgba(0, 0, 0, 0.87); }

.purple-300 {
  background-color: #ba68c8;
  color: rgba(255, 255, 255, 0.87); }

.purple-400 {
  background-color: #ab47bc;
  color: rgba(255, 255, 255, 0.87); }

.purple-500 {
  background-color: #9c27b0;
  color: rgba(255, 255, 255, 0.87); }

.purple-600 {
  background-color: #8e24aa;
  color: rgba(255, 255, 255, 0.87); }

.purple-700 {
  background-color: #7b1fa2;
  color: rgba(255, 255, 255, 0.87); }

.purple-800 {
  background-color: #6a1b9a;
  color: rgba(255, 255, 255, 0.87); }

.purple-900 {
  background-color: #4a148c;
  color: rgba(255, 255, 255, 0.87); }

.purple-A100 {
  background-color: #ea80fc;
  color: rgba(0, 0, 0, 0.87); }

.purple-A200 {
  background-color: #e040fb;
  color: rgba(255, 255, 255, 0.87); }

.purple-A400 {
  background-color: #d500f9;
  color: rgba(255, 255, 255, 0.87); }

.purple-A700 {
  background-color: #aa00ff;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple {
  background-color: #673ab7;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-50 {
  background-color: #ede7f6;
  color: rgba(0, 0, 0, 0.87); }

.deep-purple-100 {
  background-color: #d1c4e9;
  color: rgba(0, 0, 0, 0.87); }

.deep-purple-200 {
  background-color: #b39ddb;
  color: rgba(0, 0, 0, 0.87); }

.deep-purple-300 {
  background-color: #9575cd;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-400 {
  background-color: #7e57c2;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-500 {
  background-color: #673ab7;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-600 {
  background-color: #5e35b1;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-700 {
  background-color: #512da8;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-800 {
  background-color: #4527a0;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-900 {
  background-color: #311b92;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-A100 {
  background-color: #b388ff;
  color: rgba(0, 0, 0, 0.87); }

.deep-purple-A200 {
  background-color: #7c4dff;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-A400 {
  background-color: #651fff;
  color: rgba(255, 255, 255, 0.87); }

.deep-purple-A700 {
  background-color: #6200ea;
  color: rgba(255, 255, 255, 0.87); }

.indigo {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87); }

.indigo-50 {
  background-color: #e8eaf6;
  color: rgba(0, 0, 0, 0.87); }

.indigo-100 {
  background-color: #c5cae9;
  color: rgba(0, 0, 0, 0.87); }

.indigo-200 {
  background-color: #9fa8da;
  color: rgba(0, 0, 0, 0.87); }

.indigo-300 {
  background-color: #7986cb;
  color: rgba(255, 255, 255, 0.87); }

.indigo-400 {
  background-color: #5c6bc0;
  color: rgba(255, 255, 255, 0.87); }

.indigo-500 {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87); }

.indigo-600 {
  background-color: #3949ab;
  color: rgba(255, 255, 255, 0.87); }

.indigo-700 {
  background-color: #303f9f;
  color: rgba(255, 255, 255, 0.87); }

.indigo-800 {
  background-color: #283593;
  color: rgba(255, 255, 255, 0.87); }

.indigo-900 {
  background-color: #1a237e;
  color: rgba(255, 255, 255, 0.87); }

.indigo-A100 {
  background-color: #8c9eff;
  color: rgba(0, 0, 0, 0.87); }

.indigo-A200 {
  background-color: #536dfe;
  color: rgba(255, 255, 255, 0.87); }

.indigo-A400 {
  background-color: #3d5afe;
  color: rgba(255, 255, 255, 0.87); }

.indigo-A700 {
  background-color: #304ffe;
  color: rgba(255, 255, 255, 0.87); }

.blue {
  background-color: #2196f3;
  color: rgba(255, 255, 255, 0.87); }

.blue-50 {
  background-color: #e3f2fd;
  color: rgba(0, 0, 0, 0.87); }

.blue-100 {
  background-color: #bbdefb;
  color: rgba(0, 0, 0, 0.87); }

.blue-200 {
  background-color: #90caf9;
  color: rgba(0, 0, 0, 0.87); }

.blue-300 {
  background-color: #64b5f6;
  color: rgba(0, 0, 0, 0.87); }

.blue-400 {
  background-color: #42a5f5;
  color: rgba(0, 0, 0, 0.87); }

.blue-500 {
  background-color: #2196f3;
  color: rgba(255, 255, 255, 0.87); }

.blue-600 {
  background-color: #1e88e5;
  color: rgba(255, 255, 255, 0.87); }

.blue-700 {
  background-color: #1976d2;
  color: rgba(255, 255, 255, 0.87); }

.blue-800 {
  background-color: #1565c0;
  color: rgba(255, 255, 255, 0.87); }

.blue-900 {
  background-color: #0d47a1;
  color: rgba(255, 255, 255, 0.87); }

.blue-A100 {
  background-color: #82b1ff;
  color: rgba(0, 0, 0, 0.87); }

.blue-A200 {
  background-color: #448aff;
  color: rgba(255, 255, 255, 0.87); }

.blue-A400 {
  background-color: #2979ff;
  color: rgba(255, 255, 255, 0.87); }

.blue-A700 {
  background-color: #2962ff;
  color: rgba(255, 255, 255, 0.87); }

.light-blue {
  background-color: #03a9f4;
  color: rgba(255, 255, 255, 0.87); }

.light-blue-50 {
  background-color: #e1f5fe;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-100 {
  background-color: #b3e5fc;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-200 {
  background-color: #81d4fa;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-300 {
  background-color: #4fc3f7;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-400 {
  background-color: #29b6f6;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-500 {
  background-color: #03a9f4;
  color: rgba(255, 255, 255, 0.87); }

.light-blue-600 {
  background-color: #039be5;
  color: rgba(255, 255, 255, 0.87); }

.light-blue-700 {
  background-color: #0288d1;
  color: rgba(255, 255, 255, 0.87); }

.light-blue-800 {
  background-color: #0277bd;
  color: rgba(255, 255, 255, 0.87); }

.light-blue-900 {
  background-color: #01579b;
  color: rgba(255, 255, 255, 0.87); }

.light-blue-A100 {
  background-color: #80d8ff;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-A200 {
  background-color: #40c4ff;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-A400 {
  background-color: #00b0ff;
  color: rgba(0, 0, 0, 0.87); }

.light-blue-A700 {
  background-color: #0091ea;
  color: rgba(255, 255, 255, 0.87); }

.cyan {
  background-color: #00bcd4;
  color: rgba(255, 255, 255, 0.87); }

.cyan-50 {
  background-color: #e0f7fa;
  color: rgba(0, 0, 0, 0.87); }

.cyan-100 {
  background-color: #b2ebf2;
  color: rgba(0, 0, 0, 0.87); }

.cyan-200 {
  background-color: #80deea;
  color: rgba(0, 0, 0, 0.87); }

.cyan-300 {
  background-color: #4dd0e1;
  color: rgba(0, 0, 0, 0.87); }

.cyan-400 {
  background-color: #26c6da;
  color: rgba(0, 0, 0, 0.87); }

.cyan-500 {
  background-color: #00bcd4;
  color: rgba(255, 255, 255, 0.87); }

.cyan-600 {
  background-color: #00acc1;
  color: rgba(255, 255, 255, 0.87); }

.cyan-700 {
  background-color: #0097a7;
  color: rgba(255, 255, 255, 0.87); }

.cyan-800 {
  background-color: #00838f;
  color: rgba(255, 255, 255, 0.87); }

.cyan-900 {
  background-color: #006064;
  color: rgba(255, 255, 255, 0.87); }

.cyan-A100 {
  background-color: #84ffff;
  color: rgba(0, 0, 0, 0.87); }

.cyan-A200 {
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87); }

.cyan-A400 {
  background-color: #00e5ff;
  color: rgba(0, 0, 0, 0.87); }

.cyan-A700 {
  background-color: #00b8d4;
  color: rgba(0, 0, 0, 0.87); }

.teal {
  background-color: #009688;
  color: rgba(255, 255, 255, 0.87); }

.teal-50 {
  background-color: #e0f2f1;
  color: rgba(0, 0, 0, 0.87); }

.teal-100 {
  background-color: #b2dfdb;
  color: rgba(0, 0, 0, 0.87); }

.teal-200 {
  background-color: #80cbc4;
  color: rgba(0, 0, 0, 0.87); }

.teal-300 {
  background-color: #4db6ac;
  color: rgba(0, 0, 0, 0.87); }

.teal-400 {
  background-color: #26a69a;
  color: rgba(0, 0, 0, 0.87); }

.teal-500 {
  background-color: #009688;
  color: rgba(255, 255, 255, 0.87); }

.teal-600 {
  background-color: #00897b;
  color: rgba(255, 255, 255, 0.87); }

.teal-700 {
  background-color: #00796b;
  color: rgba(255, 255, 255, 0.87); }

.teal-800 {
  background-color: #00695c;
  color: rgba(255, 255, 255, 0.87); }

.teal-900 {
  background-color: #004d40;
  color: rgba(255, 255, 255, 0.87); }

.teal-A100 {
  background-color: #a7ffeb;
  color: rgba(0, 0, 0, 0.87); }

.teal-A200 {
  background-color: #64ffda;
  color: rgba(0, 0, 0, 0.87); }

.teal-A400 {
  background-color: #1de9b6;
  color: rgba(0, 0, 0, 0.87); }

.teal-A700 {
  background-color: #00bfa5;
  color: rgba(0, 0, 0, 0.87); }

.green {
  background-color: #4caf50;
  color: rgba(255, 255, 255, 0.87); }

.green-50 {
  background-color: #e8f5e9;
  color: rgba(0, 0, 0, 0.87); }

.green-100 {
  background-color: #c8e6c9;
  color: rgba(0, 0, 0, 0.87); }

.green-200 {
  background-color: #a5d6a7;
  color: rgba(0, 0, 0, 0.87); }

.green-300 {
  background-color: #81c784;
  color: rgba(0, 0, 0, 0.87); }

.green-400 {
  background-color: #66bb6a;
  color: rgba(0, 0, 0, 0.87); }

.green-500 {
  background-color: #4caf50;
  color: rgba(255, 255, 255, 0.87); }

.green-600 {
  background-color: #43a047;
  color: rgba(255, 255, 255, 0.87); }

.green-700 {
  background-color: #388e3c;
  color: rgba(255, 255, 255, 0.87); }

.green-800 {
  background-color: #2e7d32;
  color: rgba(255, 255, 255, 0.87); }

.green-900 {
  background-color: #1b5e20;
  color: rgba(255, 255, 255, 0.87); }

.green-A100 {
  background-color: #b9f6ca;
  color: rgba(0, 0, 0, 0.87); }

.green-A200 {
  background-color: #69f0ae;
  color: rgba(0, 0, 0, 0.87); }

.green-A400 {
  background-color: #00e676;
  color: rgba(0, 0, 0, 0.87); }

.green-A700 {
  background-color: #00c853;
  color: rgba(0, 0, 0, 0.87); }

.light-green {
  background-color: #8bc34a;
  color: rgba(0, 0, 0, 0.87); }

.light-green-50 {
  background-color: #f1f8e9;
  color: rgba(0, 0, 0, 0.87); }

.light-green-100 {
  background-color: #dcedc8;
  color: rgba(0, 0, 0, 0.87); }

.light-green-200 {
  background-color: #c5e1a5;
  color: rgba(0, 0, 0, 0.87); }

.light-green-300 {
  background-color: #aed581;
  color: rgba(0, 0, 0, 0.87); }

.light-green-400 {
  background-color: #9ccc65;
  color: rgba(0, 0, 0, 0.87); }

.light-green-500 {
  background-color: #8bc34a;
  color: rgba(0, 0, 0, 0.87); }

.light-green-600 {
  background-color: #7cb342;
  color: rgba(0, 0, 0, 0.87); }

.light-green-700 {
  background-color: #689f38;
  color: rgba(0, 0, 0, 0.87); }

.light-green-800 {
  background-color: #558b2f;
  color: rgba(255, 255, 255, 0.87); }

.light-green-900 {
  background-color: #33691e;
  color: rgba(255, 255, 255, 0.87); }

.light-green-A100 {
  background-color: #ccff90;
  color: rgba(0, 0, 0, 0.87); }

.light-green-A200 {
  background-color: #b2ff59;
  color: rgba(0, 0, 0, 0.87); }

.light-green-A400 {
  background-color: #76ff03;
  color: rgba(0, 0, 0, 0.87); }

.light-green-A700 {
  background-color: #64dd17;
  color: rgba(0, 0, 0, 0.87); }

.lime {
  background-color: #cddc39;
  color: rgba(0, 0, 0, 0.87); }

.lime-50 {
  background-color: #f9fbe7;
  color: rgba(0, 0, 0, 0.87); }

.lime-100 {
  background-color: #f0f4c3;
  color: rgba(0, 0, 0, 0.87); }

.lime-200 {
  background-color: #e6ee9c;
  color: rgba(0, 0, 0, 0.87); }

.lime-300 {
  background-color: #dce775;
  color: rgba(0, 0, 0, 0.87); }

.lime-400 {
  background-color: #d4e157;
  color: rgba(0, 0, 0, 0.87); }

.lime-500 {
  background-color: #cddc39;
  color: rgba(0, 0, 0, 0.87); }

.lime-600 {
  background-color: #c0ca33;
  color: rgba(0, 0, 0, 0.87); }

.lime-700 {
  background-color: #afb42b;
  color: rgba(0, 0, 0, 0.87); }

.lime-800 {
  background-color: #9e9d24;
  color: rgba(0, 0, 0, 0.87); }

.lime-900 {
  background-color: #827717;
  color: rgba(255, 255, 255, 0.87); }

.lime-A100 {
  background-color: #f4ff81;
  color: rgba(0, 0, 0, 0.87); }

.lime-A200 {
  background-color: #eeff41;
  color: rgba(0, 0, 0, 0.87); }

.lime-A400 {
  background-color: #c6ff00;
  color: rgba(0, 0, 0, 0.87); }

.lime-A700 {
  background-color: #aeea00;
  color: rgba(0, 0, 0, 0.87); }

.yellow {
  background-color: #ffeb3b;
  color: rgba(0, 0, 0, 0.87); }

.yellow-50 {
  background-color: #fffde7;
  color: rgba(0, 0, 0, 0.87); }

.yellow-100 {
  background-color: #fff9c4;
  color: rgba(0, 0, 0, 0.87); }

.yellow-200 {
  background-color: #fff59d;
  color: rgba(0, 0, 0, 0.87); }

.yellow-300 {
  background-color: #fff176;
  color: rgba(0, 0, 0, 0.87); }

.yellow-400 {
  background-color: #ffee58;
  color: rgba(0, 0, 0, 0.87); }

.yellow-500 {
  background-color: #ffeb3b;
  color: rgba(0, 0, 0, 0.87); }

.yellow-600 {
  background-color: #fdd835;
  color: rgba(0, 0, 0, 0.87); }

.yellow-700 {
  background-color: #fbc02d;
  color: rgba(0, 0, 0, 0.87); }

.yellow-800 {
  background-color: #f9a825;
  color: rgba(0, 0, 0, 0.87); }

.yellow-900 {
  background-color: #f57f17;
  color: rgba(0, 0, 0, 0.87); }

.yellow-A100 {
  background-color: #ffff8d;
  color: rgba(0, 0, 0, 0.87); }

.yellow-A200 {
  background-color: #ffff00;
  color: rgba(0, 0, 0, 0.87); }

.yellow-A400 {
  background-color: #ffea00;
  color: rgba(0, 0, 0, 0.87); }

.yellow-A700 {
  background-color: #ffd600;
  color: rgba(0, 0, 0, 0.87); }

.amber {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.87); }

.amber-50 {
  background-color: #fff8e1;
  color: rgba(0, 0, 0, 0.87); }

.amber-100 {
  background-color: #ffecb3;
  color: rgba(0, 0, 0, 0.87); }

.amber-200 {
  background-color: #ffe082;
  color: rgba(0, 0, 0, 0.87); }

.amber-300 {
  background-color: #ffd54f;
  color: rgba(0, 0, 0, 0.87); }

.amber-400 {
  background-color: #ffca28;
  color: rgba(0, 0, 0, 0.87); }

.amber-500 {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.87); }

.amber-600 {
  background-color: #ffb300;
  color: rgba(0, 0, 0, 0.87); }

.amber-700 {
  background-color: #ffa000;
  color: rgba(0, 0, 0, 0.87); }

.amber-800 {
  background-color: #ff8f00;
  color: rgba(0, 0, 0, 0.87); }

.amber-900 {
  background-color: #ff6f00;
  color: rgba(0, 0, 0, 0.87); }

.amber-A100 {
  background-color: #ffe57f;
  color: rgba(0, 0, 0, 0.87); }

.amber-A200 {
  background-color: #ffd740;
  color: rgba(0, 0, 0, 0.87); }

.amber-A400 {
  background-color: #ffc400;
  color: rgba(0, 0, 0, 0.87); }

.amber-A700 {
  background-color: #ffab00;
  color: rgba(0, 0, 0, 0.87); }

.orange {
  background-color: #ff9800;
  color: rgba(0, 0, 0, 0.87); }

.orange-50 {
  background-color: #fff3e0;
  color: rgba(0, 0, 0, 0.87); }

.orange-100 {
  background-color: #ffe0b2;
  color: rgba(0, 0, 0, 0.87); }

.orange-200 {
  background-color: #ffcc80;
  color: rgba(0, 0, 0, 0.87); }

.orange-300 {
  background-color: #ffb74d;
  color: rgba(0, 0, 0, 0.87); }

.orange-400 {
  background-color: #ffa726;
  color: rgba(0, 0, 0, 0.87); }

.orange-500 {
  background-color: #ff9800;
  color: rgba(0, 0, 0, 0.87); }

.orange-600 {
  background-color: #fb8c00;
  color: rgba(0, 0, 0, 0.87); }

.orange-700 {
  background-color: #f57c00;
  color: rgba(0, 0, 0, 0.87); }

.orange-800 {
  background-color: #ef6c00;
  color: rgba(255, 255, 255, 0.87); }

.orange-900 {
  background-color: #e65100;
  color: rgba(255, 255, 255, 0.87); }

.orange-A100 {
  background-color: #ffd180;
  color: rgba(0, 0, 0, 0.87); }

.orange-A200 {
  background-color: #ffab40;
  color: rgba(0, 0, 0, 0.87); }

.orange-A400 {
  background-color: #ff9100;
  color: rgba(0, 0, 0, 0.87); }

.orange-A700 {
  background-color: #ff6d00;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange {
  background-color: #ff5722;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-50 {
  background-color: #fbe9e7;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-100 {
  background-color: #ffccbc;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-200 {
  background-color: #ffab91;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-300 {
  background-color: #ff8a65;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-400 {
  background-color: #ff7043;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-500 {
  background-color: #ff5722;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-600 {
  background-color: #f4511e;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-700 {
  background-color: #e64a19;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-800 {
  background-color: #d84315;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-900 {
  background-color: #bf360c;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-A100 {
  background-color: #ff9e80;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-A200 {
  background-color: #ff6e40;
  color: rgba(0, 0, 0, 0.87); }

.deep-orange-A400 {
  background-color: #ff3d00;
  color: rgba(255, 255, 255, 0.87); }

.deep-orange-A700 {
  background-color: #dd2c00;
  color: rgba(255, 255, 255, 0.87); }

.brown {
  background-color: #795548;
  color: rgba(255, 255, 255, 0.87); }

.brown-50 {
  background-color: #efebe9;
  color: rgba(0, 0, 0, 0.87); }

.brown-100 {
  background-color: #d7ccc8;
  color: rgba(0, 0, 0, 0.87); }

.brown-200 {
  background-color: #bcaaa4;
  color: rgba(0, 0, 0, 0.87); }

.brown-300 {
  background-color: #a1887f;
  color: rgba(255, 255, 255, 0.87); }

.brown-400 {
  background-color: #8d6e63;
  color: rgba(255, 255, 255, 0.87); }

.brown-500 {
  background-color: #795548;
  color: rgba(255, 255, 255, 0.87); }

.brown-600 {
  background-color: #6d4c41;
  color: rgba(255, 255, 255, 0.87); }

.brown-700 {
  background-color: #5d4037;
  color: rgba(255, 255, 255, 0.87); }

.brown-800 {
  background-color: #4e342e;
  color: rgba(255, 255, 255, 0.87); }

.brown-900 {
  background-color: #3e2723;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey {
  background-color: #607d8b;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey-50 {
  background-color: #eceff1;
  color: rgba(0, 0, 0, 0.87); }

.blue-grey-100 {
  background-color: #cfd8dc;
  color: rgba(0, 0, 0, 0.87); }

.blue-grey-200 {
  background-color: #b0bec5;
  color: rgba(0, 0, 0, 0.87); }

.blue-grey-300 {
  background-color: #90a4ae;
  color: rgba(0, 0, 0, 0.87); }

.blue-grey-400 {
  background-color: #78909c;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey-500 {
  background-color: #607d8b;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey-600 {
  background-color: #546e7a;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey-700 {
  background-color: #455a64;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey-800 {
  background-color: #37474f;
  color: rgba(255, 255, 255, 0.87); }

.blue-grey-900 {
  background-color: #263238;
  color: rgba(255, 255, 255, 0.87); }

.grey-50 {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87); }

.grey-100 {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87); }

.grey-200 {
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.87); }

.grey-300 {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87); }

.grey-400 {
  background-color: #bdbdbd;
  color: rgba(0, 0, 0, 0.87); }

.grey-500 {
  background-color: #9e9e9e;
  color: rgba(0, 0, 0, 0.87); }

.grey-600 {
  background-color: #757575;
  color: rgba(255, 255, 255, 0.87); }

.grey-700 {
  background-color: #616161;
  color: rgba(255, 255, 255, 0.87); }

.grey-800 {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.87); }

.grey-900 {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.87); }

.md-form-group {
  padding: 18px 0 24px 0;
  position: relative; }

.md-input {
  background: transparent;
  position: relative;
  z-index: 5;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  width: 100%;
  height: 34px;
  padding: 2px;
  color: inherit; }
  .md-input:focus, .md-input.focus {
    border-color: #4BC0C0;
    border-bottom-width: 2px;
    padding-bottom: 1px; }
    .md-input:focus ~ label, .md-input.focus ~ label {
      color: #4BC0C0;
      opacity: 1;
      top: 0 !important;
      font-size: 0.85em !important; }
  .float-label .md-input ~ label {
    top: 20px;
    font-size: 1em; }
  .float-label .md-input.ng-dirty ~ label, .float-label .md-input.has-value ~ label {
    top: 0;
    font-size: 0.85em; }
  .md-input ~ label {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 0.85em;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
    top: 0px;
    left: 0; }
  .md-input.disabled, .md-input[disabled] {
    opacity: 0.5; }

textarea.md-input {
  height: auto; }

.md-input-white:focus, .md-input-white.focus {
  border-color: #fff; }
  .md-input-white:focus ~ label, .md-input-white.focus ~ label {
    color: #fff; }

.md-input-msg {
  position: absolute;
  bottom: 0;
  line-height: 24px;
  font-size: 0.85em; }

.md-input-msg.right {
  right: 0; }

.md-check {
  cursor: pointer;
  padding-left: 1.25rem;
  margin: 0;
  display: inline-block;
  position: relative; }
  .md-check input {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin-left: -1.25rem; }
    .md-check input:checked + i:before {
      border-width: 0;
      background-color: inherit; }
    .md-check input:checked + span .active {
      display: inherit; }
    .md-check input[type="radio"] + i, .md-check input[type="radio"] + i:before {
      border-radius: 50%; }
    .md-check input[type="checkbox"]:checked + i:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 6px;
      top: 2px;
      display: table;
      width: 6px;
      height: 12px;
      border: 2px solid;
      border-top: 0;
      border-left: 0;
      content: ' '; }
    .md-check input[type="radio"]:checked + i:after {
      position: absolute;
      left: 6px;
      top: 6px;
      display: table;
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 50%;
      content: ' '; }
    .md-check input[disabled] + i:before,
    fieldset[disabled] .md-check input + i:before {
      opacity: 0.5; }
    .md-check input[disabled]:checked + i:before {
      opacity: 0.5; }
  .md-check > i {
    width: 0;
    height: 18px;
    line-height: 1;
    margin-left: -20px;
    margin-top: 1px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
    position: relative; }
    .md-check > i:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 100%;
      border: 2px solid #818a91;
      border-radius: 2px; }
    .md-check > i.no-icon:after {
      display: none !important; }

.md-switch {
  cursor: pointer;
  padding-left: 36px;
  margin: 0;
  min-height: 20px; }
  .md-switch input {
    position: absolute;
    cursor: pointer;
    width: 36px;
    height: 20px;
    z-index: 1;
    opacity: 0;
    margin-left: -36px; }
    .md-switch input:checked + i:before {
      background: inherit;
      opacity: 0.5; }
    .md-switch input:checked + i:after {
      background: inherit;
      left: 16px; }
    .md-switch input[disabled] + i:before,
    fieldset[disabled] .md-switch input + i:before {
      background-color: rgba(0, 0, 0, 0.12); }
    .md-switch input[disabled] + i:after,
    fieldset[disabled] .md-switch input + i:after {
      background-color: #bdbdbd; }
  .md-switch i {
    width: 0px;
    height: 18px;
    line-height: 1;
    margin-left: -36px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 44px;
    position: relative; }
    .md-switch i:before {
      content: "";
      left: 1px;
      width: 34px;
      top: 3px;
      height: 14px;
      border-radius: 8px;
      position: absolute;
      background-color: #9e9e9e;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .md-switch i:after {
      content: "";
      position: absolute;
      margin: 0;
      left: 0;
      top: 0;
      outline: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }






.exam-div{
    border: 1px solid #c1bebe;
    height: 200px;
    margin: 10px;
    overflow: auto;
}
.exam-div h4{
    background: aliceblue;
    color: #24425d;
    padding: 8px;
    border-bottom: 1px solid #cac8c8;
    text-transform: uppercase;
    font-size: 18px;
}