<div class="p-a">
    <p-dataTable [value]="marks" selectionMode="single" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
        <p-header>Manage Marks</p-header>
        <p-column field="exam.code" header="Exam" [sortable]="true"></p-column>
        <p-column field="subject.code" header="Subject" [sortable]="true"></p-column>
        <p-column field="marks" header="Mark" [sortable]="true"></p-column>
        <p-column field="abscent" header="Attendance" [sortable]="true"></p-column>
        <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
    </p-dataTable>

    <p-dialog header="Marks Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="mark">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="mark">Marks</label></div>
                <div class="ui-grid-col-8"><input pInputText id="mark" [(ngModel)]="mark.marks" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="abscent">Abscent</label></div>
                <div class="ui-grid-col-8"><input pInputText id="abscent" [(ngModel)]="mark.abscent" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="exam">Exam</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="exams" [(ngModel)]="selectedExam" [style]="{'width':'150px'}" filter="filter">
                        <template let-exam pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:right;margin-top:4px">{{exam.code}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="subject">Subjects</label></div>
                <div class="ui-grid-col-8">
                    <p-dropdown [options]="subjects" [(ngModel)]="selectedSubject" [style]="{'width':'150px'}" filter="filter">
                        <template let-subject pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:right;margin-top:4px">{{subject.code}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
