<div class="m-a">
  <h4>List of Parents</h4>

  <div class="form-group">
    <app-search-bar
      (nameAscending)="uiStore.setSortParam('asc')"
      (nameDescending)="uiStore.setSortParam('desc')"
      (searchChangeEmitter)="setSearchName($event)"
    ></app-search-bar>
  </div>

  <div class="card float-l m-l" style="width: 15rem;align-items: center;" *ngFor="let parent of store.parents | searchPipe: searchName | sortBy: uiStore.sortParam ">
    <img class="card-img-top" alt="Card image cap" src="data:image/JPEG;base64,{{parent.image}}" style="height:100px;width:100px;"/>
    <div class="card-block">
      <h4 class="card-title">{{parent.userId}}</h4>
      <a class="btn btn-sm btn-primary" (click)="viewStudentDetail(parent.userId)">View Details</a>
    </div>
  </div>
</div>
